MONGODB_URI=mongodb://localhost:27018/vedaai
REDIS_URL=redis://localhost:6379
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=llama2:latest
PORT=4000
OPENROUTER_API_KEY=
GEMINI_API_KEY=
NODE_ENV=development
